.sec1{
    background-image: url(iphone.avif);

}
.inbox{
    /* background-color: violet; */
    height: 600px;
    margin: 15px 0px;
    /* background-color: black; */
    background-size: center;
    font-weight: bold;
    text-align: center;
}
.cls5{
      margin-top: 300px;
      display: inline-block;
      font-size: 30px;
      color: orangered;
}
.circle{
    font-size: 20px;
}
.play{
    margin-left: 10px;
}
.book{
    font-size: 40px;
    padding-top: 30px;
}
.bi-chevron-down{
    position:absolute;
    top: 100%;
    left: 50%;
    color: black;

}
.inbox1{
    /* background-color:whitesmoke; */
    height: 70px;
    margin: 10px 0px;
}
.scrap{
    text-align: center;
}
.cls6{
    color: orangered;
    padding-right: 5px;
    font-size: 30px;
}
.video{
    color:gray;
    text-decoration: none;
    margin-left: 50px;
}
.download{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}
.inbox2{
    /* background-color: whitesmoke; */
    height: 400px;
    margin: 15px 0px;
    align-items: center;
    text-align: center;
}

.inbox22{
    /* background-color: whitesmoke; */
    min-height: 300px;
    margin: 15px 0px;
    align-items: center;
}
.finds{
    padding-left: 20px;
    color: gray;
}
.finds1{
    color: black;
    padding-left: 20px;
}
.fors{
    color: orangered;
}
.inbox3{
     /* background-color:whitesmoke;  */
    min-height: 300px;
    margin: 10px 0px;
}
.mark1{
    font-size: 20px;
    padding-left: 20px;
}
.p1{
    padding-left:  20px;
    color: gray;
}
.p2{
     padding-left: 20px;
}
.room{
    color: orangered;
}
.cc{
    background-image: url(laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inbox4{
    /* background-color:whitesmoke; */
    height: 100px;
    margin: 10px 0px;
}
.inbox5{
    /* background-color: whitesmoke; */
    height: 50px;
    width: 15px 0px;
}
.prince{
    text-align: center;
    font-size: 30px;
}
.inbox6{
    /* background-color: whitesmoke; */
    height: 400px;
    margin: 15px 0px;text-align: center;
}
.sub{
    text-align: center;
}
.cls7{
    color: gray;
    text-align: center;
    padding-right: 70px;
}
.line{
    background-color: black;
    height: 2px;
    max-width: 150px;
    margin: auto;
}
.lines{
    background-color: black;
    height: 2px;
    max-width: 50px;
    margin: auto;
}
.cls3{
    color: gray;
    text-align: center;
}
.inbox7{
    /* background-color:whitesmoke; */
    height: 70px;
    margin: 10px 0px;
    text-align: center;
}
.menu{
    border: solid;
    color:white;
    text-decoration: none;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
    background-color: orangered;
}
.load{
    color: gray;
}
.inbox8{
    /* background-color: whitesmoke; */
    height: 70px;
    margin: 10px 0px;
}
.free{
    color: gray;
    text-align: center;
    padding-top: 15px;
}
.inbox9{
    /* background-color:whitesmoke; */
    height: 70px;
    margin: 10px 0px;
}
.inbox10{
    /* background-color:whitesmoke; */
    height: 300px;
    margin: 10px 0px;
    text-align: center;
    padding-top: 50px;
    color: gray;
}
.cls4{border-radius: 70px;
    background-size: cover;
    height: 150px;
    width: 150px;
    text-align: center;

}
.inbox11{
    /* background-color:whitesmoke; */
    height: 50px;
    margin: 10px 0px;
}
.blog{
    text-align: center;
}
.inbox12{
    /* background-color:whitesmoke; */
    height: 50px;
    margin: 10px 0px;
}
.made{
    color: gray;
    text-align: center;
    padding-top: 15px;
}

@media(max-width:468px){
    .inbox2{
        align-items: start;
    }
.inbox6{
    height: 280px;
}
.inbox10{
    height: 216px;
}
.cls5{
    margin-top: -24px;
}

}